body{
	background-color: #162719;
}

.contener {
	padding-top: 15%;
	padding-left: 6%;
	display: grid;
  height: 500px;
  align-content:center;
  grid-template-columns: auto auto auto;
  gap: 15px;
	
}

.header {
	color: rgb(209, 217, 224);
	text-align: center;
	font-size: 120px;
	font-family: sans-serif;
	text-shadow: 2px 2px red;
	
}
img {
	
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 60%;
   
}


.latter1 {
	color: rgb(246, 250, 24);
	font-size: 40px;
	top: 60%;
	 bottom: 40%;
	 padding-left: 30%;
	 text-shadow: 1px 2px #c72914;
	 font-family: cursive;
}

.latter2 {
	
	color: rgb(246, 250, 24);
	font-size: 40px;
	top: 60%;
	 bottom: 40%;
	 padding-left: 30%;
	 text-shadow: 1px 2px #c72914;
	 font-family: cursive;

}


.latter3 {
	color: rgb(246, 250, 24);
	font-size: 40px;
	top: 60%;
	 bottom: 40%;
	 padding-left: 30%;
	 text-shadow: 1px 2px #c72914;
	 font-family: cursive;
}

.latter4 {
	
	color: rgb(246, 250, 24);
	font-size: 40px;
	top: 60%;
	 bottom: 40%;
	 padding-left: 30%;
	 text-shadow: 1px 2px #c72914;
	 font-family: cursive;

}

.latter5 {
	color: rgb(246, 250, 24);
	font-size: 40px;
	top: 60%;
	 bottom: 40%;
	 padding-left: 30%;
	 text-shadow: 1px 2px #c72914;
	 font-family: cursive;
}

.btn {
	position: absolute;
	left: 76%;
	top: 70%;
}
footer{
	font-family: monospace;
	font-size: 15px;
	padding-top: 8%;
	text-align: center;
	color: #ddd;
}
@media screen and (max-width: 500px) {
	.column {
	  width: 100%;
	}
  }